{% extends "base.html" %}
{% block content %}

<!-- <script type="text/javascript" src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP"/>
 -->
    

<div class="homepage"> 
    <h1>Welcome!</h1>

    <h2>Enter 3 songs and artists</h2>
    <div class = "field"> 
    <form action="." method="POST">
        <input type="text" name="song-title1" placeholder="Song Title One" required>
        <input type="text" name="artist1" placeholder="Artist One" required>
        <br>
        <input type="text" name="song-title2" placeholder="Song Title Two" required>
        <input type="text" name="artist2" placeholder="Artist Two" required>
        <br>
        <input type="text" name="song-title3" placeholder="Song Title Three" required>
        <input type="text" name="artist3" placeholder="Artist Three" required>
<br><br>
        <input type="submit" name="my-form" value="Go!" id="send">

    </form>
    </div> 
   </div>


{% endblock %}