{% extends "base.html" %}
{% block content %}

<!-- <script type="text/javascript" src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP"/>
 -->
 <script type="text/javascript"> 
 var watson = require('watson-developer-cloud');

var ok = "LALA HELLO FRIENDS I AM HAPPY IN THE TODAY BUT IS THIS MORE THAN EN WORDS I DON'T KNOW THAH AND THE RADIO IS POPULAR TAYLOR SWIFT"

var tone_analyzer = watson.tone_analyzer({
  username: '719c30fd-054f-4221-a00c-911f3461825f',
  password: '0dMvFyNX5qJu',
  version: 'v3',
  version_date: '2016-05-19 '
});

tone_analyzer.tone({ text: ok },
  function(err, tone) {
    if (err)
      console.log(err);
    else
      console.log(JSON.stringify(tone, null, 2));
});
</script> 

    <h1>INDEX</h1>

    <h1>Enter some text</h1>
    <h2>(it will be converted to uppercase)</h2>
    <form action="." method="POST">
        <input type="text" name="song-title1" placeholder="Song Title One">
        <input type="text" name="artist1" placeholder="Artist One">
        <br>
        <input type="text" name="song-title2" placeholder="Song Title Two">
        <input type="text" name="artist2" placeholder="Artist Two">
        <br>
        <input type="text" name="song-title3" placeholder="Song Title Three">
        <input type="text" name="artist3" placeholder="Artist Three">

        <input type="submit" name="my-form" value="Send" >
    </form>
   


    {{result}}

    <p class="center">
        Hello there {{name}}!
      Welcome! Type in 3 songs and their artists, and we'll give you a color palette :D
    </p>

    {% for song in songs %}
        Here's a song: {{song}}
    {% endfor %}




    Preview:<br>
    <canvas width="200" height="300" id="preview" style="border:1px solid #c3c3c3;">Sorry, no canvas available</canvas><br>
	<a id="download" download="CanvasDemo.png">Download as image</a>


{% endblock %}